@import 'elements/colors';

//General style
body {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    height: 100%;
    width: 100%;
    color: $bodyText;
    border: 16px solid #FFFFFF;
    border-bottom: none;
    overflow-x: hidden;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
}

//Headings
h1 {
    color: #FFFFFF;
    text-shadow: 0px 0px 20px #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: -0.02em;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    border-top: 4px solid;
    margin-bottom: 40px;
    padding-top: 16px;
}

h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 124%;
}

//General formatting
a {
    color: inherit;
    text-decoration: underline;

    &:hover {
        color: inherit;
    }
}

.body-xs {
    font-size: 12px;
    line-height: 18px;
}

ul {
    padding: 0;
    line-height: inherit;

    li {
        list-style: none;

        &:before {
            content: "•";
            vertical-align: middle;
            padding-right: 10px;
        }
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

.button {
    display: table;
    text-decoration: none;
    text-align: center;

    &.m-primary {
        padding: 8px 24px;
        background-color: $error;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        border: none;

        img {
            margin-top: -3px;
        }

        &.fluid {
            width: 100%;
        }

        &:hover {
            background-color: $error-hover;
            text-decoration: none;
        }
    }

    &.s-secondary {
        border: 2px solid $brand1;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        background: #FFFFFF;
        padding: 4px 16px;

        &:hover {
            border: 2px solid $error;
        }
    }

    &:active,
    &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
    }
}

table {
    border-spacing: 14px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    width: 100%;

    tr {
        border-bottom: 1px solid;
    }

    th {
        text-align: left;
        font-weight: normal;
        padding: 4px;
    }

    td {
        padding: 4px;
    }
}


.container-fluid {
    padding: 0;

    >div {
        margin-bottom: 16px;
        box-sizing: border-box;
        position: relative;
        height: calc(100vh - 32px);

        img {
            max-height: calc(100vh - 32px);
        }
    }
}

.frame {
    position: fixed;
    border: 16px solid #FFFFFF;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 10;
}

@import 'elements/widgets';
@import 'elements/sections';
@import 'elements/resonsiveness';