$bodyText: #0C0C0C;

$gray1: #F4F4F4;
$gray2: #E0E0E0;
$gray3: #C1C1C1;
$gray4: #9F9F9F;
$gray5: #787878;
$gray6: #515151;
$gray7: #2D2D2D;
$gray8: #0F0F0F;

$brand1: #0C0C0C;
$brand2: #3088C7;
$brand2light: #C7DEEF;
$brand2medium: #ADCFE7;
$success: #189056;
$error: #EE1D4C;
$error_hover: #BE0E36;