//Widgets-notifications
.cookies-alert {
    background-color: #FFFFFF;
    padding: 0 8px;
    position: absolute;
    bottom: 24px;
    left: 24px;
    z-index: 10;

    p {
        margin: 8px;
        max-width: 183px;
        font-size: 12px;
        line-height: 150%;
        display: inline-block;
        vertical-align: middle;

        a {
            text-decoration: underline;
            color: inherit;
        }
    }

    .s-secondary {
        margin: 12px 8px;
        display: inline;
        vertical-align: middle;
    }
}

.sticky-cta {
    display: none;
    position: fixed;
    z-index: 9;
    bottom: 16px;
    left: 16px;
}